<div ng-controller="RentCtrl">
	<div ng-show="showTools"
		class="main-low-margin col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 margin-top-100 ">
		<h3>TOOL RENTAL</h3>
		<br>
		<div class="alert alert-danger" ng-show="showErrorAlert">{{errormsg}}</div>
		<table class="table table-striped">
			<tr>
				<td>
					<div ng-repeat="tool in tools">
						<input type="hidden" ng-model="tool.id"> <label
							ng-model="tool.type"> {{tool.type}} </label>

						<p ng-model="tool.name">{{tool.name}}</p>

						<p ng-model="tool.description">{{tool.description}}</p>

						<p ng-model="tool.price">
							<font color="#660033">${{tool.price}} per week</font>

						</p>

						<button ng-click="select(tool._id)" class=" btn btn-success"
							id={{tool._id}}>SELECT</button>

						<hr>
					</div>
				</td>
			</tr>
		</table>

	</div>



	<!-- Address form -->
	<div ng-show="showAddressForm">
		<div>{{errormsg}}</div>
		<div
			class="main-low-margin col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 margin-top-100 ">
			<h3>ADDRESS FORM</h3>
			<br>
			<form name="addForm" ng-submit="formSubmit(addForm.$valid)"
				novalidate>

				<input type="hidden" id="tool_id" name="tool_id"
					ng-model="formData.tool_id"> <input type="hidden"
					ng-model="user_id" id="user_id" name="user_id"
					ng-model="formData.user_id">

				<div class="form-group"
					ng-class="{ 'has-error' : addForm.first_name.$invalid && !addForm.first_name.$touched }">
					<!-- Full Name -->
					<label for="first_name_id" class="control-label">First Name</label>
					<input type="text" class="form-control" id="first_name_id"
						name="first_name" placeholder="John"
						ng-model="formData.first_name" required>
					<p
						ng-show="addForm.first_name.$invalid && !addForm.first_name.$touched"
						class="help-block">You first name is required.</p>
				</div>

				<div class="form-group"
					ng-class="{ 'has-error' : addForm.first_name.$invalid && !addForm.first_name.$touched }">
					<!-- Full Name -->
					<label for="last_name_id" class="control-label">Last Name</label> <input
						type="text" class="form-control" id="last_name" name="last_name"
						placeholder="Deer" ng-model="formData.last_name" required>
					<p
						ng-show="addForm.last_name.$invalid && !addForm.last_name.$touched"
						class="help-block">You last name is required.</p>
				</div>

				<div class="form-group"
					ng-class="{ 'has-error' : addForm.street1.$invalid && !addForm.street1.$touched }">
					<!-- Street 1 -->
					<label for="street1_id" class="control-label">Street
						Address 1</label> <input type="text" class="form-control" id="street1_id"
						name="street1"
						placeholder="Street address, P.O. box, company name, c/o"
						ng-model="formData.street1" required>
					<p ng-show="addForm.street1.$invalid && !addForm.street1.$touched"
						class="help-block">Street Address 1 is required.</p>
				</div>

				<div class="form-group">
					<!-- Street 2 -->
					<label for="street2_id" class="control-label">Street
						Address 2</label> <input type="text" class="form-control" id="street2_id"
						name="street2"
						placeholder="Apartment, suite, unit, building, floor, etc."
						ng-model="formData.street2">
				</div>

				<div class="form-group"
					ng-class="{ 'has-error' : addForm.city.$invalid && !addForm.city.$touched }">
					<!-- City-->
					<label for="city_id" class="control-label">City</label> <input
						type="text" class="form-control" id="city_id" name="city"
						placeholder="Smallville" ng-model="formData.city" required>
					<p ng-show="addForm.city.$invalid && !addForm.city.$touched"
						class="help-block">City is required.</p>
				</div>

				<div class="form-group"
					ng-class="{ 'has-error' : addForm.state.$invalid && !addForm.state.$touched }">
					<!-- State Button -->
					<label for="state_id" class="control-label">State</label> <select
						class="form-control" name="state" id="state_id"
						ng-model="formData.state" required>
						<option value="">Select State</option>
						<option value="AL">Alabama</option>
						<option value="AK">Alaska</option>
						<option value="AZ">Arizona</option>
						<option value="AR">Arkansas</option>
						<option value="CA">California</option>
						<option value="CO">Colorado</option>
						<option value="CT">Connecticut</option>
						<option value="DE">Delaware</option>
						<option value="DC">District Of Columbia</option>
						<option value="FL">Florida</option>
						<option value="GA">Georgia</option>
						<option value="HI">Hawaii</option>
						<option value="ID">Idaho</option>
						<option value="IL">Illinois</option>
						<option value="IN">Indiana</option>
						<option value="IA">Iowa</option>
						<option value="KS">Kansas</option>
						<option value="KY">Kentucky</option>
						<option value="LA">Louisiana</option>
						<option value="ME">Maine</option>
						<option value="MD">Maryland</option>
						<option value="MA">Massachusetts</option>
						<option value="MI">Michigan</option>
						<option value="MN">Minnesota</option>
						<option value="MS">Mississippi</option>
						<option value="MO">Missouri</option>
						<option value="MT">Montana</option>
						<option value="NE">Nebraska</option>
						<option value="NV">Nevada</option>
						<option value="NH">New Hampshire</option>
						<option value="NJ">New Jersey</option>
						<option value="NM">New Mexico</option>
						<option value="NY">New York</option>
						<option value="NC">North Carolina</option>
						<option value="ND">North Dakota</option>
						<option value="OH">Ohio</option>
						<option value="OK">Oklahoma</option>
						<option value="OR">Oregon</option>
						<option value="PA">Pennsylvania</option>
						<option value="RI">Rhode Island</option>
						<option value="SC">South Carolina</option>
						<option value="SD">South Dakota</option>
						<option value="TN">Tennessee</option>
						<option value="TX">Texas</option>
						<option value="UT">Utah</option>
						<option value="VT">Vermont</option>
						<option value="VA">Virginia</option>
						<option value="WA">Washington</option>
						<option value="WV">West Virginia</option>
						<option value="WI">Wisconsin</option>
						<option value="WY">Wyoming</option>
					</select>

					<p ng-show="addForm.state.$invalid && !addForm.state.$touched"
						class="help-block">State is required.</p>
				</div>

				<div class="form-group"
					ng-class="{ 'has-error' : addForm.zip.$invalid && !addForm.zip.$touched }">
					<!-- Zip Code-->
					<label for="zip_id" class="control-label">Zip Code</label> <input
						type="text" class="form-control" id="zip_id" name="zip"
						placeholder="#####" ng-model="formData.zip" required>

					<p ng-show="addForm.zip.$invalid && !addForm.zip.$touched"
						class="help-block">Zip Code is required.</p>
				</div>

				<div class="form-group">
					<!-- Submit Button -->
					<button type="submit" ng-disabled="addForm.$invalid"
						class="btn btn-primary">Submit</button>
					<button type="button" class="btn btn-danger"
						ng-click="AddressFormcancel()">Cancel</button>
				</div>

			</form>

		</div>
	</div>



	<div ng-show="showAddressList">


		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<h3>YOUR INFOMATION</h3>


				<!-- modal box -->
				<div class="modal-content" ng-show="showAddressModal">
					<script type="text/ng-template" id="templates/addressmodal.html">
  						<div class="modal-header" >
							 <div class="alert alert-danger" ng-show="showModalErrormsg">{{ModalErrormsg}}</div>
    						<h3 class="modal-title">Remove Address</h3>
  						</div>
  						<div class="modal-body">
    						<h4>{{messag}}</h4>
							  	<table  ng-repeat="item in removeAddress" class = "table table-bordered">
							   	
							   	<tr>
							   	<td style="width: 15%; background-color: #f5f5f5;" >Name</td><td>{{removeItemfirst_name}} {{removeItemlast_name}}</td>
							   	</tr>
							   	<tr>
							   	<td  class="" style="width: 15%; background-color: #f5f5f5;">Address</td><td>{{item.street1}} {{item.street2}}<br>{{item.city}}<br>{{item.state}}<br>{{item.zip}}</td>
							   	</tr>
							   
							</table>
  						</div>
  						<div class="modal-footer">

						 <button type="button"
                    		ng-click="cancel()"
                   			class="btn btn-danger"
                   			 data-dismiss="modal">
                		No
            			</button>
    					<button type="button"
                    		ng-click="remove()"
                    		ng-disabled="form.$invalid"
                    		class="btn btn-primary">
                			Yes
            			</button>
     					
   		 				
  					</div>
				</script>

				</div>


				<!-- show alert message here -->
				<div class="alert alert-success" ng-show="showSuccessAlert">
					<strong>Success!</strong> {{successTextAlert}}
				</div>

				<div class="alert alert-danger" ng-show="showErrorAlert">{{errormsg}}</div>
				<button type="submit" class="btn btn-warning"
					ng-click="addNewAddress()">Add new address</button>
				<br> <br>
				<p>Do you want to use the existing address below?</p>

			</div>

			<div class="container" style="margin-top: 40px">


				<div class="row">

					<!--  <div ng-repeat="items in addresses">-->
					<div ng-repeat="item in items">

						<div class="col-md-5 col-md-offset-1">

							<div class="panel panel-default panel-table">
								<div class="panel-heading">
									<div class="tr">
										<div class="td" style="width: 1%;">Name</div>
										<div class="td" style="width: 3%;">Address</div>

									</div>
								</div>

								<div class="panel-body">

									<div class="tr">
										<div class="td" style="width: 1%;">{{first_name}}
											{{last_name}}</div>
										<div class="td" style="width: 3%;">
											{{item.street1}} {{item.street2}}<br>{{item.city}}<br>{{item.state}}<br>{{item.zip}}
										</div>

									</div>
								</div>

								<div class="panel-footer">
									<div class="tr">
										<div class="td" style="width: 1%;"></div>
										<div class="td" style="text-align: right; width: 3%;">
											<button type="submit" class="btn btn-danger"
												ng-click="modalConfirm(item._id)">Delete</button>
											<!--  <button type="submit"  class="btn btn-danger" ng-click="deleteAddress(item.id)" >Delete</button>-->
											<button type="submit" class="btn btn-primary"
												ng-click="selectAddress(item._id)">Use</button>
										</div>
									</div>
								</div>

							</div>

						</div>

					</div>
					<!--  </div>-->

				</div>
			</div>
		</div>
	</div>

	<!-- Payment section -->

	<!-- show all payment records -->

	<div ng-show="showPaymentsRecords" class="row">
		<div class="col-md-5 col-md-offset-1">
			<h3>YOUR PAYMENT INFOMATION</h3>

			<!-- modal box -->
			<div class="modal-content" ng-show="showModal">
				<script type="text/ng-template" id="templates/modal.html">
  						<div class="modal-header" >
							 <div class="alert alert-danger" ng-show="showModalErrormsg">{{ModalErrormsg}}</div>
    						<h3 class="modal-title">{{headerTitle}}</h3>
  						</div>
  						<div class="modal-body">
    						<h4>{{messag}}</h4>
							  	<table  ng-repeat="item in removePayment" class = "table table-bordered">
							   	
							   	<tr>
							   	<td style="width: 15%; background-color: #f5f5f5;" >Name</td><td>{{item.name}}</td>
							   	</tr>
							   	<tr>
							   	<td class="" style="width: 15%; background-color: #f5f5f5;">Type</td><td>{{item.type}}</td>
							   	</tr>
							   	<tr>
							   	<td class="" style="width: 15%; background-color: #f5f5f5;">Card Number</td><td>{{item.number}}</td>
							   	</tr>
							   	<tr>
							   	<td class="" style="width: 15%; background-color: #f5f5f5;">Exp</td><td>{{item.month}}/{{item.year}}</td>
							   	</tr>
							   	
							</table>
  						</div>
  						<div class="modal-footer">

						 <button type="button"
                    		ng-click="cancel()"
                   			class="btn btn-danger"
                   			 data-dismiss="modal">
                		No
            			</button>
    					<button type="button"
                    		ng-click="remove()"
                    		ng-disabled="form.$invalid"
                    		class="btn btn-primary">
                			Yes
            			</button>
     					
   		 				
  					</div>
				</script>

			</div>



			<!-- show alert message here -->
			<div class="alert alert-success" ng-show="showSuccessAlert">
				<strong>Success!</strong> {{successTextAlert}}
			</div>
			<div class="alert alert-danger" ng-show="showErrorAlert">{{errormsg}}</div>


			<button type="submit" class="btn btn-warning"
				ng-click="addNewPayment()">Add new payment method</button>
			<br> <br>
			<p>{{message}}</p>


			<!--  	<div class="container" style="margin-top:40px">-->

			<div ng-repeat="item in items">

				<table class="table table-bordered">

					<tr>
						<td style="width: 15%; background-color: #f5f5f5;">Name</td>
						<td>{{item.name}}</td>
					</tr>
					<tr>
						<td class="" style="width: 15%; background-color: #f5f5f5;">Type</td>
						<td>{{item.type}}</td>
					</tr>
					<tr>
						<td class="" style="width: 15%; background-color: #f5f5f5;">Card
							Number</td>
						<td>{{item.number}}</td>
					</tr>
					<tr>
						<td class="" style="width: 15%; background-color: #f5f5f5;">Exp</td>
						<td>{{item.month}}/{{item.year}}</td>
					</tr>
					<tr>
						<td class="" style="width: 15%; background-color: #f5f5f5;"></td>
						<td style="text-align: right;">
							<!--  <button type="submit"  class="btn btn-danger" ng-click="deletePayment(item.id)" >Delete</button> -->
							<button type="submit" class="btn btn-danger"
								ng-click="modalConfirmpayment(item._id)">Delete</button>
							<button type="submit" class="btn btn-primary"
								ng-click="selectPayment(item._id)">Use</button>
						</td>
					</tr>

				</table>
			</div>

			<!--  </div>-->
		</div>
	</div>


	<!-- Payment form -->
	<div ng-show="showPaymentForm"
		class="main-low-margin col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 margin-top-100 ">


		<h3>PAYMENT FORM</h3>
		<br>

		<form novalidate name="paymentForm">

			<div class="form-group">
				<label for="name" class="control-label">Name</label><br> <input
					type="text" id="name" name="name" ng-model="ccinfo.name" required
					data-ng-pattern=" /^[a-zA-Z ]{1,25}$/"
					placeholder="Card Holder's Name"> <br />
				<ul ng-show="paymentForm.submitAttempt && !paymentForm.$valid">

					<li ng-show="paymentForm.name.$error.required" class="help-block"><font
						color="red">Card holder's name required </font></li>
					<li ng-show="paymentForm.name.$error.pattern" class="help-block"><font
						color="red">Name must consist of only alphabet</font></li>
				</ul>

			</div>


			<div class="form-group">
				<label for="creditCard" class="control-label">Card Number</label><br>
				<input type="text" id="creditCard" name="creditCard"
					ng-model="ccinfo.number" required data-credit-card-type
					data-ng-pattern="/^[0-9]+$/" data-ng-minlength="15" maxlength="19"
					placeholder="Card Number"> {{ccinfo.type}} <br />
				<ul ng-show="paymentForm.submitAttempt && !paymentForm.$valid">

					<li ng-show="paymentForm.creditCard.$error.minlength"
						class="help-block"><font color="red">Credit card must
							be 15-19 digits</font></li>
					<li ng-show="paymentForm.creditCard.$error.pattern"
						class="help-block"><font color="red">Credit card must
							consist of only numbers</font></li>
					<li ng-show="paymentForm.creditCard.$error.invalid"
						class="help-block"><font color="red">Credit card must
							be a valid Amex, Visa, Discover, or Master Card</font></li>
					<li ng-show="paymentForm.creditCard.$error.required"
						class="help-block"><font color="red">Credit card
							required</font></li>
				</ul>

			</div>


			<div class="form-group">
				<label for="securityCode" class="control-label">Security
					Code</label><br> <input type="text" name="securityCode"
					id="securityCode" ng-model="ccinfo.securityCode" placeholder="CCV"
					required data-ng-pattern="/^[0-9]+$/" data-ng-minlength="3"
					maxlength="4"> <br />
				<ul ng-show="paymentForm.submitAttempt && !paymentForm.$valid">
					<li ng-show="paymentForm.securityCode.$error.pattern"
						class="help-block"><font color="red">Security code
							must contain only numbers</font></li>
					<li ng-show="paymentForm.securityCode.$error.minlength"
						class="help-block"><font color="red">Security code
							must be 3-4 digits</font></li>
					<li ng-show="paymentForm.securityCode.$error.required"
						class="help-block"><font color="red">Security code
							required</font></li>
				</ul>

			</div>

			<div class="form-group">
				<table>

					<label for="month" class="control-label">Experation Date</label>
					<br>
					<tr>
						<td><select ng-model="ccinfo.month" name="month" id="month"
							data-card-expiration required>
								<li>
									<option disabled selected value="">Month</option>
									<option ng-repeat="month in months" value="{{$index+1}}">
										{{$index+1}} - {{month}}
							</li>
						</select></td>
						<td><select ng-model="ccinfo.year" name="year" id="year"
							required>
								<li>
									<option disabled selected value="">Year</option>
									<option
										ng-repeat="year in [] | range:currentYear:currentYear+13"
										value={{year}}>{{year}}
							</li>
						</select></td>
					</tr>
					<tr>
						<td>
							<ul ng-show="paymentForm.submitAttempt && !paymentForm.$valid">
								<li ng-show="paymentForm.month.$error.required"
									class="help-block"><font color="red">Expiration
										month required</font></li>
							</ul>
							<ul ng-show="paymentForm.submitAttempt && !paymentForm.$valid">
								<li ng-show="paymentForm.year.$error.required"
									class="help-block"><font color="red">Expiration
										year required</font></li>
								<li ng-show="paymentForm.month.$error.invalid"
									class="help-block"><font color="red">Provided
										expiration date is invalid</font></li>
							</ul>

						</td>
					</tr>
				</table>
			</div>
			<!--  <button ng-click="paymentForm.submitAttempt=true;save(ccinfo)"
				type="submit">Submit</button>-->

			<button type="submit"
				ng-click="paymentForm.submitAttempt=true;paymentSave(ccinfo)"
				class="btn btn-primary">Submit</button>
			<button type="button" class="btn btn-danger"
				ng-click="PaymentFormcancel()">Cancel</button>
		</form>
	</div>


	<!--  Summary and Sumbit Page -->
	<div ng-show="showSummary" class="row">
		<div class="col-md-6 col-md-offset-2">
			<h3>TOOL RENTAL SUMMARY</h3>
		</div>
		<br>
		<div class="container" style="margin-top: 40px">
			<div class="row">
				<div class="col-md-10 col-md-offset-2">
					<div>
						<div class="panel panel-default panel-table">
							<div class="panel-heading">
								<div class="tr">
									<div class="td">Item</div>
									<div class="td">Customer Info</div>
									<div class="td">Payment Info</div>
								</div>
							</div>

							<div class="panel-body">

								<div class="tr">
									<div class="td">
										{{tool.type}}<br> <br>{{tool.name}}<br> <br>${{tool.price}}
										per week<br> <br>Return: {{returnDate}}
									</div>
									<div ng-repeat="item in address" class="td">
										Address:<br>{{item.street1}} {{item.street2}}<br>{{item.city}}<br>{{item.state}}<br>{{item.zip}}
									</div>
									<div ng-repeat="pitem in payment" class="td">
										Card Type: {{pitem.type}}<br> <br>Name:
										{{pitem.name}}<br> <br>Number: {{pitem.number}}<br>
										<br>Exp: {{pitem.month}}/{{pitem.year}}
									</div>
								</div>
							</div>
							<div class="panel-footer">
								<div class="tr">
									<div class="td"></div>
									<div class="td"></div>
									<div class="td">Total ${{tool.price}}</div>
								</div>
							</div>



						</div>
						<div style="text-align: left;">
							<button type="submit" class="btn btn-danger"
								ng-click="rentalConfirm()">Confirm</button>
							<button type="submit" class="btn btn-primary"
								ng-click="rentalCancel()">Cancel</button>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Rental confirmation Page -->
	<div ng-show="showConfirmation" class="row">
		<div class="col-lg-10">
			<!--  Paragraphs-->
			<div class="panel panel-default">
				<div class="panel-heading">Confirmation</div>
				<div class="panel-body">
					<p class="lead">Your reservation has been confirmed. Thank you.
					</p>
					 <p><a href="#/home">Back to home</a></p>
				</div>
			</div>
			<!-- End Paragraphs-->
		</div>
	</div>


</div>


